<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd">
		
		
	<context:component-scan base-package="com.cg.ecomapp"/>
		
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<property name="driverClassName" value="org.postgresql.Driver" />
    	<property name="url" value="jdbc:postgresql://localhost:5432/cgbatch19db" />
    	<property name="username" value="cgbatch19" />
    	<property name="password" value="cgbatch19" />
	</bean>	

    <bean id="myEmf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    	<property name="dataSource" ref="dataSource" />
    	<property name="packagesToScan" value="com.cg.ecomapp.dto" />
    	<property name="jpaVendorAdapter">
        	<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
    	</property>
    	<property name="jpaProperties">
        <props>
            <prop key="hibernate.hbm2ddl.auto">update</prop>           
        </props>
    	</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<property name="entityManagerFactory" ref="myEmf" />
	</bean>

    <tx:annotation-driven />


	<!-- <bean id="cDao" class="com.cg.ecomapp.dao.CustomerDaoImpl"/>
	
	<bean id="cService" class="com.cg.ecomapp.service.CustomerServiceImpl">
		<property name="customerDao" ref="cDao"/>
	</bean>
	
	<bean id="cController" class="com.cg.ecomapp.controller.CustomerController">
		<property name="customerService" ref="cService"/>
	</bean> -->

</beans>		
		